#titulo {
    text-align: center;
    color: black;
}

.entradas-usuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.botao {
    display: flex;
    margin-left: 80%;
}


.rodape {
    text-align: center;
    color: red;
    background-color: black;
    padding: 12px;
    border: 1px solid black;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

