#titulo {
    text-align: center;
    color: blue;
}

.rodape {
    text-align: center;
    color: red;
    padding: 12px;
    border: 1px solid;
}

.entradas-usuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.botao {
    display: flex;
    margin-left: 80%;
}
